include README.rst
include LICENSE
include version.txt
include challenges/version.txt
include HelloWorld/sample.txt
include HelloWorld/result.txt
recursive-include docs *
recursive-include documentation *
